RenderOptions(
    scene_file: "/Users/emilnorden/models/cars/direct.gltf",
    output_folder: "output",
    resolution: Resolution(
        width: 960,
        height: 540,
    ),
    samples: 50,
    max_bounces: 4,
    video: false,
    frame_rate: 60,
    denoise: OpenImageDenoise(DenoiseSettings(
        auxiliary_albedo: true,
        auxiliary_normal: true,
    )),
    integrator: Pathtracing
)