RenderOptions(
    scene_file: "/Users/emilnorden/models/test/gltf/test.gltf",
    output_folder: "output",
    resolution: Resolution(
        width: 600,
        height: 600,
    ),
    samples: 200,
    debug: false,
    max_bounces: 4,
    video: false,
    frame_rate: 60,
)